%form{:method => "post", :action => "members/fetch"}
	%input.search-box{:name => "search_term"}
	%input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token }
		%button{:type => "submit"} Find

-if (@members_list != nil)
	%ul
		- @members_list.each do |member|
			%li
				%ul{ class: "member-#{member.member_id}" }
					%li= member.name
					%li= "Member of the House of #{member.house}" 
					%li= member.party	

-if (@error_message != nil)
	%p= @error_message
